<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-md-12 col-md-12 col-lg-12" id="assignment">
			<h1>Section 4 : API assignment</h1>
			<p>This question is to be done at home. Contact interviewer for arrangement and details.</p>
			<p>Design and implement a deployable RESTful API backend that stores the resource for a simple 'to do' task list.</p>
			<br>
			<p>Each item in the list must consist of:</p>
			<ul>
				<li>a subject of the task</li>
				<li>a free text content or detail for the task</li>
				<li>a status of the task, whether it is pending or done</li>
			</ul>
			<p>The user must be able to:</p>
			<ul>
				<li>view all items in the list</li>
				<li>view a single task in the list</li>
				<li>add a task to the list</li>
				<li>edit existing task</li>
				<li>set the task status</li>
				<li>delete a task from the list</li>
			</ul>
			<p>Feel free to use any language and/or framwork.Good luck !!<br>
				using
				<a href="https://nodejs.org/en/" target="_blank">Nodejs</a> with
				<a href="https://expressjs.com/" target="_blank">Express</a>
			</p>
			<p>by Supanat Veerahong supanat.ve@gmail.com 089-305-4958<br>
				repo : <a href="https://bitbucket.org/supanatvee/todo-list" target="_blank">https://bitbucket.org/supanatvee/todo-list</a>
			</p>
			<br>
			<br>
		</div>
		<div class="col-md-12 col-md-12 col-md-12 col-lg-12" id="setup">
			<h1>How to setup</h1>
			<hr>
			<h3>Environment</h3>
			<ol>
				<li><a href="https://nodejs.org/en/download/" target="_blank">Download</a> nodejs version v6.10.1 or latest LTS version<br>
				<img src="/images/nodejs-download.PNG"></li>
				<li>Follow a install's instruction</li>
				<li>After installation reboot an operation system</li>
				<li>Check installation success by type a command <code>node -v</code> in terminal.
					Output must be v6.10.1 or which version that was downloaded<br>
				<img src="/images/node-v.PNG"></li>
			</ol>
			<h3>Project</h3>
			<ol>
				<li><a href="https://bitbucket.org/supanatvee/todo-list/get/429c84149f90.zip">Download</a> project and unzip or 
				<a href="https://bitbucket.org/supanatvee/todo-list" target="_blank">clone it</a></li>
				<li>Open a terminal window and change directory to folder that your just unzip before</li>
				<li>Run command <code>npm start</code><br>
				<img src="/images/npm-start.PNG"></li>
				<li>Open browser and go to <a href="http://localhost:3000/" target="_blank">localhost:3000</a></li>
			</ol>
			<br>
			<br>
		</div>
		<div class="col-md-12 col-md-12 col-md-12 col-lg-12" id="api-document">
			<h1>API Document</h1>
			<button type="button" class="btn btn-link" onclick="viewTasks()">view tasks</button>
			<button type="button" class="btn btn-link" onclick="viewATask()">view a task</button>
			<button type="button" class="btn btn-link" onclick="addTask()">add task</button>
			<button type="button" class="btn btn-link" onclick="editTask()">edit task</button>
			<button type="button" class="btn btn-link" onclick="setStatus()">set status</button>
			<button type="button" class="btn btn-link" onclick="delTask()">delete task</button>
			<button type="button" class="btn btn-link" onclick="initList()">reset</button>
			<hr>
		</div>
		<div class="col-md-12 col-md-12 col-md-6 col-lg-6">
			<h3 id="api-name">View Todo's list</h3>
			<p id="api-detail">view all items in the list</p>
			<ul>
				<li><b>URL</b>
					<br><br>
				<code id="api-url">GET /list</code>
			</li>
			<br>
			<li><b>URL Params</b>
				<br>
				<div id="api-url-params">None</div>
			</li>
			<br>
			<li><b>Data Params</b>
				<br>
				<div id="api-data-params">None</div>
			</li>
			<br>
			<li><b>Success Respone:</b>
				<br>
				<ul>
					<li>
						<b>Code:</b> 200
						<br>
						<b>Content:</b>
						<br>
						<br>
						<pre id="api-response-200">
						</pre>
					</li>
				</ul>
			</li>
			<br>
			<li><b>Error Respone:</b>
				<br>
				<div id="api-response-err">None</div>
			</li>
			<br>
			<li><b>Sample call:</b>
				<br>
				<br>
				<pre id="api-sample">
				</pre>
			</li>
			<br>
		</ul>
	</div>
	<div class="col-md-12 col-md-12 col-md-6 col-lg-6">
		<h3>Result</h3>
		<p id="message">message result</p>
	<pre id="result" class="highlightme">show Todo's list here ...</pre>
</div>
</div>
</div>